In [1]:
import pandas as pd

In [2]:
import pandas.io.data

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
import datetime

In [6]:
tech_stocks = ('AAPL', 'MSFT', 'GOOG', 'FB', 'TSLA',)
bank_stocks = ('WFC', 'JPM', 'C', 'BAC', 'BBT',)
food_stocks = ('JJSF', 'TSN', 'GIS', 'HRL', 'MJN',)
cybersec_stocks = ('PANW', 'FTNT', 'SYMC', 'CSCO', 'CHKP',)

In [7]:
# Apple Computers
AAPL = pd.io.data.get_data_yahoo('AAPL',
                                 start=datetime.datetime(2000, 7, 1),
                                 end=datetime.datetime(2015, 7, 1))

In [8]:
# Microsoft
MSFT = pd.io.data.get_data_yahoo('MSFT',
                                 start=datetime.datetime(2000, 7, 1),
                                 end=datetime.datetime(2015, 7, 1))

In [9]:
# Google
GOOG = pd.io.data.get_data_yahoo('GOOG',
                                 start=datetime.datetime(2000, 7, 1),
                                 end=datetime.datetime(2015, 7, 1))

In [10]:
# Tesla
TSLA = pd.io.data.get_data_yahoo('TSLA',
                                 start=datetime.datetime(2000, 7, 1),
                                 end=datetime.datetime(2015, 7, 1))

In [11]:
# Wells Fargo
WFC = pd.io.data.get_data_yahoo('WFC',
                                start=datetime.datetime(2000, 7, 1),
                                end=datetime.datetime(2015, 7, 1))

In [12]:
# J.P. Morgan
JPM = pd.io.data.get_data_yahoo('JPM',
                                start=datetime.datetime(2000, 7, 1),
                                end=datetime.datetime(2015, 7, 1))

In [13]:
# Citi Group
C = pd.io.data.get_data_yahoo('C',
                              start=datetime.datetime(2000, 7, 1),
                              end=datetime.datetime(2015, 7, 1))

In [14]:
# Bank of America
BAC = pd.io.data.get_data_yahoo('BAC',
                                start=datetime.datetime(2000, 7, 1),
                                end=datetime.datetime(2015, 7, 1))

In [15]:
# BB&T
BBT = pd.io.data.get_data_yahoo('BBT',
                                start=datetime.datetime(2000, 7, 1),
                                end=datetime.datetime(2015, 7, 1))

In [16]:
# J&J Snack Foods Corp
JJSF = pd.io.data.get_data_yahoo('JJSF',
                                 start=datetime.datetime(2000, 7, 1),
                                 end=datetime.datetime(2015, 7, 1))

In [17]:
# Tyson Foods, Inc.
TSN = pd.io.data.get_data_yahoo('TSN',
                                start=datetime.datetime(2000, 7, 1),
                                end=datetime.datetime(2015, 7, 1))

In [18]:
# General Mills
GIS = pd.io.data.get_data_yahoo('TSN',
                                start=datetime.datetime(2000, 7, 1),
                                end=datetime.datetime(2015, 7, 1))

In [19]:
# Hormel Foods Corporation
HRL = pd.io.data.get_data_yahoo('HRL',
                                start=datetime.datetime(2000, 7, 1),
                                end=datetime.datetime(2015, 7, 1))

In [20]:
# Mead Johnson Nutrition Company
MJN = pd.io.data.get_data_yahoo('MJN',
                                start=datetime.datetime(2000, 7, 1),
                                end=datetime.datetime(2015, 7, 1))

In [21]:
# Palo Alto Networks, Inc.
PANW = pd.io.data.get_data_yahoo('PANW',
                                 start=datetime.datetime(2000, 7, 1),
                                 end=datetime.datetime(2015, 7, 1))

In [22]:
# Fortinet Inc.
FTNT = pd.io.data.get_data_yahoo('FTNT',
                                 start=datetime.datetime(2000, 7, 1),
                                 end=datetime.datetime(2015, 7, 1))

In [23]:
# Symantec
SYMC = pd.io.data.get_data_yahoo('SYMC',
                                 start=datetime.datetime(2000, 7, 1),
                                 end=datetime.datetime(2015, 7, 1))

In [24]:
# Cisco
CSCO = pd.io.data.get_data_yahoo('CSCO',
                                 start=datetime.datetime(2000, 7, 1),
                                 end=datetime.datetime(2015, 7, 1))

In [25]:
# Check Point Software Technologies Ltd.
CHKP = pd.io.data.get_data_yahoo('CHKP',
                                 start=datetime.datetime(2000, 7, 1),
                                 end=datetime.datetime(2015, 7, 1))

#Summary Statistics of Data

In [235]:
AAPL_sum_stat= AAPL.describe()

In [238]:
AAPL_sum_stat

,Open,High,Low,Close,Volume,Adj Close
count,3772.000000,3772.000000,3772.000000,3772.000000,3.772000e+03,3772.000000
mean,178.882327,180.809002,176.696281,178.794055,1.393830e+08,30.522986
std,183.201516,184.674587,181.440553,183.075240,1.013249e+08,34.024475
min,12.990040,13.189960,12.719980,13.119960,9.835000e+06,0.880286
25%,30.814978,31.340014,30.390012,30.862510,7.129535e+07,2.070727
50%,100.400002,101.485000,98.810001,100.105001,1.099528e+08,16.169950
75%,270.329966,272.570003,267.950012,270.182485,1.781799e+08,51.992075
max,702.410042,705.070023,699.569977,702.100021,1.855410e+09,132.539993

In [237]:
AAPL_sum_stat.iloc[:,1:5]

              High          Low        Close        Volume
count  3772.000000  3772.000000  3772.000000  3.772000e+03
mean    180.809002   176.696281   178.794055  1.393830e+08
std     184.674587   181.440553   183.075240  1.013249e+08
min      13.189960    12.719980    13.119960  9.835000e+06
25%      31.340014    30.390012    30.862510  7.129535e+07
50%     101.485000    98.810001   100.105001  1.099528e+08
75%     272.570003   267.950012   270.182485  1.781799e+08
max     705.070023   699.569977   702.100021  1.855410e+09

#Merging Data Frames

#Slicing and Dicing

#Applying a Function to Data Frame

#Using functions on data (with lambda)

In [207]:
AAPL_sum_stat.apply(lambda y: y.max() - y.min())

Open         3.759010e+03
High         3.758810e+03
Low          3.759280e+03
Close        3.758880e+03
Volume       1.855406e+09
Adj Close    3.771120e+03
dtype: float64

#Plot Results

In [40]:
AAPL.plot(); MSFT.plot()

In [41]:
ts=AAPL.iloc[:,1:2]

In [34]:
ts.plot()

In [39]:
plt.show()