In [288]:
import pandas as pd

In [289]:
import pandas.io.data

In [290]:
import numpy as np

In [291]:
import matplotlib.pyplot as plt

In [292]:
import datetime

#Importing data from Yahoo Finance (single stock)
Save it to a Data Frame

In [293]:
# Apple Computers
AAPL = pd.io.data.get_data_yahoo('AAPL',
                                 start=datetime.datetime(2000, 7, 1),
                                 end=datetime.datetime(2015, 7, 1))

In [294]:
AAPL

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2000-07-03,52.124941,54.312441,52.124941,53.312559,17707200,3.577017
2000-07-05,53.249980,55.187441,50.750000,51.625000,66304000,3.463790
2000-07-06,52.500000,52.937500,49.624961,51.812461,77386400,3.476368
2000-07-07,52.593660,54.812520,52.124941,54.437461,65900800,3.652493
2000-07-10,54.093761,58.249938,53.750059,57.125039,99449000,3.832816
2000-07-11,57.000023,59.249961,55.437480,56.937438,89474000,3.820229
2000-07-12,58.125062,58.937477,56.375062,58.875039,56358400,3.950233
2000-07-13,58.499977,60.625039,54.749941,56.499938,111414800,3.790875
2000-07-14,57.125039,59.000062,56.875000,57.687562,47569200,3.870559
2000-07-17,58.249938,58.812461,57.125039,58.312523,65000600,3.912491
2000-07-18,58.499977,58.875039,56.875000,57.250062,79601200,3.841205
2000-07-19,55.187441,56.812562,51.750020,52.687461,114468200,3.535076
2000-07-20,54.999980,57.062461,54.124980,55.125000,116393200,3.698623
2000-07-21,54.359342,55.624941,52.937500,53.562461,49058800,3.593784
2000-07-24,52.562441,52.875059,47.500039,48.687520,103042800,3.266699
2000-07-25,50.312500,50.624980,49.062441,50.062461,52901800,3.358951
2000-07-26,49.843641,51.249941,49.250039,50.062461,52617600,3.358951
2000-07-27,50.000020,53.249980,49.875000,52.000059,73746400,3.488955
2000-07-28,52.281180,52.500000,46.874941,48.312461,59473400,3.241535
2000-07-31,49.156239,51.625000,48.749961,50.812441,38824800,3.409271
2000-08-01,50.312500,51.156141,49.250039,49.312480,34321000,3.308631
2000-08-02,49.000000,49.937441,47.187559,47.250000,40588800,3.170249
2000-08-03,45.562441,48.062559,44.249941,47.999980,84974400,3.220569
2000-08-04,49.468719,51.249941,46.312559,47.375020,65780400,3.178637
2000-08-07,47.874961,49.062441,47.187559,47.937539,46837000,3.216379
2000-08-08,47.937539,47.999980,46.312559,46.750059,44168600,3.136705
2000-08-09,48.125000,48.437480,47.250000,47.500039,94910200,3.187025
2000-08-10,47.999980,48.437480,47.375020,47.562480,62928600,3.191214
2000-08-11,46.843719,47.999980,45.562441,47.687500,59514000,3.199603
2000-08-14,47.593699,47.687500,46.312559,47.062539,39165000,3.157671
...,...,...,...,...,...,...
2015-05-20,130.000000,130.979996,129.339996,130.059998,35965000,130.059998
2015-05-21,130.070007,131.630005,129.830002,131.389999,39307500,131.389999
2015-05-22,131.600006,132.970001,131.399994,132.539993,45123800,132.539993
2015-05-26,132.600006,132.910004,129.119995,129.619995,70193700,129.619995
2015-05-27,130.339996,132.259995,130.050003,132.039993,45662800,132.039993
2015-05-28,131.860001,131.949997,131.100006,131.779999,30647300,131.779999
2015-05-29,131.229996,131.449997,129.899994,130.279999,50338200,130.279999
2015-06-01,130.279999,131.389999,130.050003,130.539993,31956000,130.539993
2015-06-02,129.860001,130.660004,129.320007,129.960007,33556900,129.960007
2015-06-03,130.660004,130.940002,129.899994,130.119995,30889400,130.119995
2015-06-04,129.580002,130.580002,128.910004,129.360001,38229300,129.360001
2015-06-05,129.500000,129.690002,128.360001,128.649994,35314200,128.649994
2015-06-08,128.899994,129.210007,126.830002,127.800003,52538200,127.800003
2015-06-09,126.699997,128.080002,125.620003,127.419998,55771500,127.419998
2015-06-10,127.919998,129.339996,127.849998,128.880005,38915900,128.880005
2015-06-11,129.179993,130.179993,128.479996,128.589996,35260400,128.589996
2015-06-12,128.190002,128.330002,127.110001,127.169998,36754200,127.169998
2015-06-15,126.099998,127.239998,125.709999,126.919998,39842600,126.919998
2015-06-16,127.029999,127.849998,126.370003,127.599998,31404000,127.599998
2015-06-17,127.720001,127.879997,126.739998,127.300003,32768500,127.300003
2015-06-18,127.230003,128.309998,127.220001,127.879997,35241100,127.879997
2015-06-19,127.709999,127.820000,126.400002,126.599998,54181300,126.599998
2015-06-22,127.489998,128.059998,127.080002,127.610001,33833500,127.610001
2015-06-23,127.480003,127.610001,126.879997,127.029999,30137100,127.029999
2015-06-24,127.209999,129.800003,127.120003,128.110001,54964900,128.110001
2015-06-25,128.860001,129.199997,127.500000,127.500000,31816700,127.500000
2015-06-26,127.669998,127.989998,126.510002,126.750000,42111000,126.750000
2015-06-29,125.459999,126.470001,124.480003,124.529999,48911400,124.529999
2015-06-30,125.570000,126.120003,124.860001,125.430000,43849800,125.430000
2015-07-01,126.900002,126.940002,125.989998,126.599998,30128600,126.599998

#Importing Multiple Stocks from Yahoo Finance 
We are going to put data for 20 stocks into a single data frame

In [295]:
data_dict = {"tech stocks" : ['AAPL', 'MSFT', 'GOOG', 'FB', 'TSLA'],
"bank stocks" : ['WFC', 'JPM', 'C', 'BAC', 'BBT'],
"food stocks" : ['JJSF', 'TSN', 'GIS', 'HRL', 'MJN'],
"cybersec stocks" : ['PANW', 'FTNT', 'SYMC', 'CSCO', 'CHKP']}

In [296]:
df_master = pd.DataFrame()

Loop through the dictionary to retrieve data for each stock.  We add additional columns to identify the data by stock and stock group.
### append
DataFrame.append(other, ignore_index=False, verify_integrity=False)¶

In [297]:
for group in data_dict:
    for stock in data_dict[group]:
        df = pd.io.data.get_data_yahoo(stock,
                                 start=datetime.datetime(2000, 7, 1),
                                 end=datetime.datetime(2015, 7, 1))
        df['Stock'] = stock
        df['Group'] = group
        df_master = df_master.append(df)

In [298]:
df_master

,Open,High,Low,Close,Volume,Adj Close,Stock,Group
Date,,,,,,,,
2012-07-20,55.150002,62.070000,53.099998,53.130001,7016100,53.130001,PANW,cybersec stocks
2012-07-23,52.599998,54.000000,51.099998,51.509998,788400,51.509998,PANW,cybersec stocks
2012-07-24,52.000000,56.000000,51.520000,55.500000,716800,55.500000,PANW,cybersec stocks
2012-07-25,56.500000,59.000000,55.299999,58.950001,599700,58.950001,PANW,cybersec stocks
2012-07-26,59.779999,61.849998,58.080002,59.880001,427800,59.880001,PANW,cybersec stocks
2012-07-27,60.880001,60.880001,57.000000,57.000000,153400,57.000000,PANW,cybersec stocks
2012-07-30,56.860001,56.860001,53.919998,55.000000,276400,55.000000,PANW,cybersec stocks
2012-07-31,55.000000,57.139999,52.209999,57.139999,285400,57.139999,PANW,cybersec stocks
2012-08-01,58.720001,58.720001,55.139999,56.180000,110900,56.180000,PANW,cybersec stocks
2012-08-02,55.680000,60.000000,53.270000,55.099998,166000,55.099998,PANW,cybersec stocks
2012-08-03,56.650002,56.900002,54.250000,54.790001,290900,54.790001,PANW,cybersec stocks
2012-08-06,55.700001,55.919998,53.680000,54.779999,156300,54.779999,PANW,cybersec stocks
2012-08-07,55.000000,57.439999,54.520000,56.799999,365800,56.799999,PANW,cybersec stocks
2012-08-08,56.200001,61.000000,55.869999,60.930000,503900,60.930000,PANW,cybersec stocks
2012-08-09,61.000000,62.459999,59.860001,61.330002,292700,61.330002,PANW,cybersec stocks
2012-08-10,61.000000,63.970001,60.490002,61.320000,285100,61.320000,PANW,cybersec stocks
2012-08-13,61.099998,63.080002,60.000000,62.720001,222000,62.720001,PANW,cybersec stocks
2012-08-14,64.129997,64.360001,59.330002,59.799999,473700,59.799999,PANW,cybersec stocks
2012-08-15,59.599998,62.900002,57.700001,62.730000,253800,62.730000,PANW,cybersec stocks
2012-08-16,63.500000,66.910004,61.869999,66.500000,371800,66.500000,PANW,cybersec stocks
2012-08-17,67.099998,68.500000,64.839996,67.290001,384600,67.290001,PANW,cybersec stocks
2012-08-20,66.779999,67.150002,64.970001,65.470001,270000,65.470001,PANW,cybersec stocks
2012-08-21,65.480003,66.430000,63.279999,64.320000,247600,64.320000,PANW,cybersec stocks
2012-08-22,65.059998,65.169998,63.119999,63.250000,124600,63.250000,PANW,cybersec stocks
2012-08-23,63.200001,64.879997,62.500000,64.139999,215300,64.139999,PANW,cybersec stocks
2012-08-24,63.450001,65.769997,63.250000,64.769997,202900,64.769997,PANW,cybersec stocks
2012-08-27,65.050003,65.839996,62.619999,63.689999,177000,63.689999,PANW,cybersec stocks
2012-08-28,63.700001,64.410004,62.910000,63.900002,104200,63.900002,PANW,cybersec stocks
2012-08-29,64.220001,65.099998,63.099998,64.730003,162000,64.730003,PANW,cybersec stocks
2012-08-30,64.709999,66.669998,63.270000,63.430000,229900,63.430000,PANW,cybersec stocks
...,...,...,...,...,...,...,...,...
2015-05-20,247.130005,247.740005,241.369995,244.350006,3745100,244.350006,TSLA,tech stocks
2015-05-21,243.029999,246.619995,242.360001,245.619995,1966000,245.619995,TSLA,tech stocks
2015-05-22,245.380005,248.600006,245.009995,247.729996,2216200,247.729996,TSLA,tech stocks
2015-05-26,247.679993,252.000000,246.500000,247.460007,3490400,247.460007,TSLA,tech stocks
2015-05-27,248.509995,249.500000,245.550003,247.429993,3403600,247.429993,TSLA,tech stocks
2015-05-28,247.029999,251.800003,245.050003,251.449997,3642500,251.449997,TSLA,tech stocks
2015-05-29,251.000000,252.869995,249.429993,250.800003,3781700,250.800003,TSLA,tech stocks
2015-06-01,251.410004,251.600006,247.470001,249.449997,2501900,249.449997,TSLA,tech stocks
2015-06-02,248.919998,249.399994,246.300003,248.350006,2125800,248.350006,TSLA,tech stocks
2015-06-03,248.199997,250.720001,247.009995,248.990005,1775500,248.990005,TSLA,tech stocks
2015-06-04,247.500000,249.300003,245.710007,245.919998,2419100,245.919998,TSLA,tech stocks
2015-06-05,246.000000,249.699997,245.679993,249.139999,3018600,249.139999,TSLA,tech stocks
2015-06-08,250.850006,258.750000,250.309998,256.290009,5001200,256.290009,TSLA,tech stocks
2015-06-09,255.399994,257.739990,254.139999,256.000000,2581200,256.000000,TSLA,tech stocks
2015-06-10,251.899994,254.000000,248.500000,250.699997,3450800,250.699997,TSLA,tech stocks
2015-06-11,253.259995,254.369995,250.429993,251.410004,2040400,251.410004,TSLA,tech stocks
2015-06-12,250.210007,253.460007,250.210007,250.690002,1415300,250.690002,TSLA,tech stocks
2015-06-15,249.699997,251.279999,246.009995,250.380005,2180200,250.380005,TSLA,tech stocks
2015-06-16,250.130005,253.440002,249.100006,253.119995,1979600,253.119995,TSLA,tech stocks
2015-06-17,252.169998,264.359985,252.020004,260.410004,5485500,260.410004,TSLA,tech stocks
2015-06-18,262.000000,263.459991,260.019989,261.890015,2778800,261.890015,TSLA,tech stocks
2015-06-19,262.399994,263.799988,260.100006,262.510010,2450700,262.510010,TSLA,tech stocks
2015-06-22,262.149994,264.399994,255.690002,259.790009,4555600,259.790009,TSLA,tech stocks
2015-06-23,260.320007,268.000000,258.570007,267.670013,3861600,267.670013,TSLA,tech stocks
2015-06-24,266.980011,267.350006,263.720001,265.170013,2410800,265.170013,TSLA,tech stocks
2015-06-25,266.450012,271.410004,265.250000,268.790009,2842100,268.790009,TSLA,tech stocks
2015-06-26,268.890015,269.109985,266.000000,267.089996,3794200,267.089996,TSLA,tech stocks
2015-06-29,261.950012,265.950012,260.700012,262.019989,3469400,262.019989,TSLA,tech stocks
2015-06-30,264.799988,270.920013,264.000000,268.260010,3077500,268.260010,TSLA,tech stocks
2015-07-01,271.109985,272.619995,267.850006,269.149994,2099700,269.149994,TSLA,tech stocks

In [317]:
df_master.index

DatetimeIndex(['2012-07-20', '2012-07-23', '2012-07-24', '2012-07-25',
               '2012-07-26', '2012-07-27', '2012-07-30', '2012-07-31',
               '2012-08-01', '2012-08-02',
               ...
               '2015-06-18', '2015-06-19', '2015-06-22', '2015-06-23',
               '2015-06-24', '2015-06-25', '2015-06-26', '2015-06-29',
               '2015-06-30', '2015-07-01'],
              dtype='datetime64[ns]', name=u'Date', length=58934, freq=None, tz=None)

#Plotting with Pandas

###plot
DataFrameGroupBy.plot(data, x=None, y=None, kind='line', ax=None, subplots=False, sharex=True, sharey=False, layout=None, figsize=None, use_index=True, title=None, grid=None, legend=True, style=None, logx=False, logy=False, loglog=False, xticks=None, yticks=None, xlim=None, ylim=None, rot=None, fontsize=None, colormap=None, table=False, yerr=None, xerr=None, secondary_y=False, sort_columns=False, **kwds)¶

In [300]:
plt.show()

#Summary Statistics of Data

In [320]:
df_master.groupby("Stock").mean()

,Open,High,Low,Close,Volume,Adj Close
Stock,,,,,,
AAPL,178.882327,180.809002,176.696281,178.794055,1.393830e+08,30.522986
BAC,36.802587,37.222788,36.395645,36.810425,9.053161e+07,22.826145
BBT,33.981298,34.346798,33.599295,33.990009,3.789032e+06,26.404107
C,37.107637,37.529452,36.641190,37.081118,1.888178e+07,217.685979
CHKP,40.673979,41.424616,39.915220,40.675141,3.192145e+06,38.304693
CSCO,22.311241,22.639257,21.992221,22.305358,5.498527e+07,20.221019
FB,51.178023,51.867602,50.461582,51.152997,4.936923e+07,51.152997
FTNT,24.680439,25.072965,24.265563,24.685492,2.072911e+06,21.100280
GIS,49.015793,49.380062,48.641467,49.031123,3.920962e+06,26.999942
GOOG,547.873455,551.825405,542.686398,547.328358,1.868500e+06,547.328358
HRL,33.539056,33.821860,33.242901,33.549719,7.595714e+05,20.483022
JJSF,46.939792,47.562015,46.326444,46.977826,5.488857e+04,38.436507
JPM,41.893397,42.428642,41.342248,41.893835,2.364317e+07,34.959187
MJN,69.526928,70.206928,68.833595,69.547382,1.597558e+06,66.443986
MSFT,34.527590,34.949140,34.125305,34.531474,6.273271e+07,24.588748
PANW,79.304103,80.598003,77.932591,79.335034,1.273534e+06,79.335034
SYMC,27.092933,27.589808,26.632366,27.127850,1.251701e+07,16.206534
TSLA,101.278684,103.207534,99.296947,101.294663,4.181775e+06,101.294663
TSN,18.267413,18.500719,18.039796,18.277580,3.186234e+06,17.176926
WFC,42.393768,42.834091,41.944596,42.400115,2.461044e+07,26.644652

We can also quickly get summary statistic data for the any data in a dataframe.

In [321]:
AAPL_sum_stat= AAPL.describe()  # for example for the AAPL Data Frame

In [302]:
AAPL_sum_stat

,Open,High,Low,Close,Volume,Adj Close
count,3772.000000,3772.000000,3772.000000,3772.000000,3.772000e+03,3772.000000
mean,178.882327,180.809002,176.696281,178.794055,1.393833e+08,30.522986
std,183.201516,184.674587,181.440553,183.075240,1.013247e+08,34.024475
min,12.990040,13.189960,12.719980,13.119960,9.835000e+06,0.880286
25%,30.814978,31.340014,30.390012,30.862510,7.129535e+07,2.070727
50%,100.400002,101.485000,98.810001,100.105001,1.099528e+08,16.169950
75%,270.329966,272.570003,267.950012,270.182485,1.781799e+08,51.992075
max,702.410042,705.070023,699.569977,702.100021,1.855410e+09,132.539993

Let's get the summary statistics for our master Data Frame.

In [322]:
df_master_sum_stat = df_master.describe()  # for example for ALL data

In [304]:
df_master_sum_stat

,Open,High,Low,Close,Volume,Adj Close
count,58934.000000,58934.000000,58934.000000,58934.000000,5.893400e+04,58934.000000
mean,50.481186,51.084288,49.849831,50.480389,2.916736e+07,45.062391
std,72.741109,73.396911,71.964566,72.693926,5.804989e+07,76.915285
min,1.020000,1.070000,0.970000,1.020000,0.000000e+00,0.880286
25%,23.129999,23.482500,22.780001,23.129999,1.468775e+06,16.878619
50%,35.900002,36.299999,35.490002,35.905001,6.621550e+06,24.162131
75%,49.848409,50.300001,49.299999,49.830001,3.469335e+07,38.665061
max,702.410042,705.070023,699.569977,702.100021,1.855410e+09,596.082692

In [305]:
AAPL

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2000-07-03,52.124941,54.312441,52.124941,53.312559,17707200,3.577017
2000-07-05,53.249980,55.187441,50.750000,51.625000,66304000,3.463790
2000-07-06,52.500000,52.937500,49.624961,51.812461,77386400,3.476368
2000-07-07,52.593660,54.812520,52.124941,54.437461,65900800,3.652493
2000-07-10,54.093761,58.249938,53.750059,57.125039,99449000,3.832816
2000-07-11,57.000023,59.249961,55.437480,56.937438,89474000,3.820229
2000-07-12,58.125062,58.937477,56.375062,58.875039,56358400,3.950233
2000-07-13,58.499977,60.625039,54.749941,56.499938,111414800,3.790875
2000-07-14,57.125039,59.000062,56.875000,57.687562,47569200,3.870559
2000-07-17,58.249938,58.812461,57.125039,58.312523,65000600,3.912491
2000-07-18,58.499977,58.875039,56.875000,57.250062,79601200,3.841205
2000-07-19,55.187441,56.812562,51.750020,52.687461,114468200,3.535076
2000-07-20,54.999980,57.062461,54.124980,55.125000,116393200,3.698623
2000-07-21,54.359342,55.624941,52.937500,53.562461,49058800,3.593784
2000-07-24,52.562441,52.875059,47.500039,48.687520,103042800,3.266699
2000-07-25,50.312500,50.624980,49.062441,50.062461,52901800,3.358951
2000-07-26,49.843641,51.249941,49.250039,50.062461,52617600,3.358951
2000-07-27,50.000020,53.249980,49.875000,52.000059,73746400,3.488955
2000-07-28,52.281180,52.500000,46.874941,48.312461,59473400,3.241535
2000-07-31,49.156239,51.625000,48.749961,50.812441,38824800,3.409271
2000-08-01,50.312500,51.156141,49.250039,49.312480,34321000,3.308631
2000-08-02,49.000000,49.937441,47.187559,47.250000,40588800,3.170249
2000-08-03,45.562441,48.062559,44.249941,47.999980,84974400,3.220569
2000-08-04,49.468719,51.249941,46.312559,47.375020,65780400,3.178637
2000-08-07,47.874961,49.062441,47.187559,47.937539,46837000,3.216379
2000-08-08,47.937539,47.999980,46.312559,46.750059,44168600,3.136705
2000-08-09,48.125000,48.437480,47.250000,47.500039,94910200,3.187025
2000-08-10,47.999980,48.437480,47.375020,47.562480,62928600,3.191214
2000-08-11,46.843719,47.999980,45.562441,47.687500,59514000,3.199603
2000-08-14,47.593699,47.687500,46.312559,47.062539,39165000,3.157671
...,...,...,...,...,...,...
2015-05-20,130.000000,130.979996,129.339996,130.059998,35965000,130.059998
2015-05-21,130.070007,131.630005,129.830002,131.389999,39307500,131.389999
2015-05-22,131.600006,132.970001,131.399994,132.539993,45123800,132.539993
2015-05-26,132.600006,132.910004,129.119995,129.619995,70193700,129.619995
2015-05-27,130.339996,132.259995,130.050003,132.039993,45662800,132.039993
2015-05-28,131.860001,131.949997,131.100006,131.779999,30647300,131.779999
2015-05-29,131.229996,131.449997,129.899994,130.279999,50338200,130.279999
2015-06-01,130.279999,131.389999,130.050003,130.539993,31956000,130.539993
2015-06-02,129.860001,130.660004,129.320007,129.960007,33556900,129.960007
2015-06-03,130.660004,130.940002,129.899994,130.119995,30889400,130.119995
2015-06-04,129.580002,130.580002,128.910004,129.360001,38229300,129.360001
2015-06-05,129.500000,129.690002,128.360001,128.649994,35314200,128.649994
2015-06-08,128.899994,129.210007,126.830002,127.800003,52538200,127.800003
2015-06-09,126.699997,128.080002,125.620003,127.419998,55771500,127.419998
2015-06-10,127.919998,129.339996,127.849998,128.880005,38915900,128.880005
2015-06-11,129.179993,130.179993,128.479996,128.589996,35260400,128.589996
2015-06-12,128.190002,128.330002,127.110001,127.169998,36754200,127.169998
2015-06-15,126.099998,127.239998,125.709999,126.919998,39842600,126.919998
2015-06-16,127.029999,127.849998,126.370003,127.599998,31404000,127.599998
2015-06-17,127.720001,127.879997,126.739998,127.300003,32768500,127.300003
2015-06-18,127.230003,128.309998,127.220001,127.879997,35241100,127.879997
2015-06-19,127.709999,127.820000,126.400002,126.599998,54181300,126.599998
2015-06-22,127.489998,128.059998,127.080002,127.610001,33833500,127.610001
2015-06-23,127.480003,127.610001,126.879997,127.029999,30137100,127.029999
2015-06-24,127.209999,129.800003,127.120003,128.110001,54964900,128.110001
2015-06-25,128.860001,129.199997,127.500000,127.500000,31816700,127.500000
2015-06-26,127.669998,127.989998,126.510002,126.750000,42111000,126.750000
2015-06-29,125.459999,126.470001,124.480003,124.529999,48911400,124.529999
2015-06-30,125.570000,126.120003,124.860001,125.430000,43849800,125.430000
2015-07-01,126.900002,126.940002,125.989998,126.599998,30128600,126.599998

We can retrieve the AAPL data from the master Data Frame like this....

In [306]:
df_master[df_master['Stock'] == 'AAPL']

,Open,High,Low,Close,Volume,Adj Close,Stock,Group
Date,,,,,,,,
2000-07-03,52.124941,54.312441,52.124941,53.312559,17707200,3.577017,AAPL,tech stocks
2000-07-05,53.249980,55.187441,50.750000,51.625000,66304000,3.463790,AAPL,tech stocks
2000-07-06,52.500000,52.937500,49.624961,51.812461,77386400,3.476368,AAPL,tech stocks
2000-07-07,52.593660,54.812520,52.124941,54.437461,65900800,3.652493,AAPL,tech stocks
2000-07-10,54.093761,58.249938,53.750059,57.125039,99449000,3.832816,AAPL,tech stocks
2000-07-11,57.000023,59.249961,55.437480,56.937438,89474000,3.820229,AAPL,tech stocks
2000-07-12,58.125062,58.937477,56.375062,58.875039,56358400,3.950233,AAPL,tech stocks
2000-07-13,58.499977,60.625039,54.749941,56.499938,111414800,3.790875,AAPL,tech stocks
2000-07-14,57.125039,59.000062,56.875000,57.687562,47569200,3.870559,AAPL,tech stocks
2000-07-17,58.249938,58.812461,57.125039,58.312523,65000600,3.912491,AAPL,tech stocks
2000-07-18,58.499977,58.875039,56.875000,57.250062,79601200,3.841205,AAPL,tech stocks
2000-07-19,55.187441,56.812562,51.750020,52.687461,114468200,3.535076,AAPL,tech stocks
2000-07-20,54.999980,57.062461,54.124980,55.125000,116393200,3.698623,AAPL,tech stocks
2000-07-21,54.359342,55.624941,52.937500,53.562461,49058800,3.593784,AAPL,tech stocks
2000-07-24,52.562441,52.875059,47.500039,48.687520,103042800,3.266699,AAPL,tech stocks
2000-07-25,50.312500,50.624980,49.062441,50.062461,52901800,3.358951,AAPL,tech stocks
2000-07-26,49.843641,51.249941,49.250039,50.062461,52617600,3.358951,AAPL,tech stocks
2000-07-27,50.000020,53.249980,49.875000,52.000059,73746400,3.488955,AAPL,tech stocks
2000-07-28,52.281180,52.500000,46.874941,48.312461,59473400,3.241535,AAPL,tech stocks
2000-07-31,49.156239,51.625000,48.749961,50.812441,38824800,3.409271,AAPL,tech stocks
2000-08-01,50.312500,51.156141,49.250039,49.312480,34321000,3.308631,AAPL,tech stocks
2000-08-02,49.000000,49.937441,47.187559,47.250000,40588800,3.170249,AAPL,tech stocks
2000-08-03,45.562441,48.062559,44.249941,47.999980,84974400,3.220569,AAPL,tech stocks
2000-08-04,49.468719,51.249941,46.312559,47.375020,65780400,3.178637,AAPL,tech stocks
2000-08-07,47.874961,49.062441,47.187559,47.937539,46837000,3.216379,AAPL,tech stocks
2000-08-08,47.937539,47.999980,46.312559,46.750059,44168600,3.136705,AAPL,tech stocks
2000-08-09,48.125000,48.437480,47.250000,47.500039,94910200,3.187025,AAPL,tech stocks
2000-08-10,47.999980,48.437480,47.375020,47.562480,62928600,3.191214,AAPL,tech stocks
2000-08-11,46.843719,47.999980,45.562441,47.687500,59514000,3.199603,AAPL,tech stocks
2000-08-14,47.593699,47.687500,46.312559,47.062539,39165000,3.157671,AAPL,tech stocks
...,...,...,...,...,...,...,...,...
2015-05-20,130.000000,130.979996,129.339996,130.059998,35965000,130.059998,AAPL,tech stocks
2015-05-21,130.070007,131.630005,129.830002,131.389999,39307500,131.389999,AAPL,tech stocks
2015-05-22,131.600006,132.970001,131.399994,132.539993,45123800,132.539993,AAPL,tech stocks
2015-05-26,132.600006,132.910004,129.119995,129.619995,70193700,129.619995,AAPL,tech stocks
2015-05-27,130.339996,132.259995,130.050003,132.039993,45662800,132.039993,AAPL,tech stocks
2015-05-28,131.860001,131.949997,131.100006,131.779999,30647300,131.779999,AAPL,tech stocks
2015-05-29,131.229996,131.449997,129.899994,130.279999,50338200,130.279999,AAPL,tech stocks
2015-06-01,130.279999,131.389999,130.050003,130.539993,31956000,130.539993,AAPL,tech stocks
2015-06-02,129.860001,130.660004,129.320007,129.960007,33556900,129.960007,AAPL,tech stocks
2015-06-03,130.660004,130.940002,129.899994,130.119995,30889400,130.119995,AAPL,tech stocks
2015-06-04,129.580002,130.580002,128.910004,129.360001,38229300,129.360001,AAPL,tech stocks
2015-06-05,129.500000,129.690002,128.360001,128.649994,35314200,128.649994,AAPL,tech stocks
2015-06-08,128.899994,129.210007,126.830002,127.800003,52538200,127.800003,AAPL,tech stocks
2015-06-09,126.699997,128.080002,125.620003,127.419998,55771500,127.419998,AAPL,tech stocks
2015-06-10,127.919998,129.339996,127.849998,128.880005,38915900,128.880005,AAPL,tech stocks
2015-06-11,129.179993,130.179993,128.479996,128.589996,35260400,128.589996,AAPL,tech stocks
2015-06-12,128.190002,128.330002,127.110001,127.169998,36754200,127.169998,AAPL,tech stocks
2015-06-15,126.099998,127.239998,125.709999,126.919998,39842600,126.919998,AAPL,tech stocks
2015-06-16,127.029999,127.849998,126.370003,127.599998,31404000,127.599998,AAPL,tech stocks
2015-06-17,127.720001,127.879997,126.739998,127.300003,32768500,127.300003,AAPL,tech stocks
2015-06-18,127.230003,128.309998,127.220001,127.879997,35241100,127.879997,AAPL,tech stocks
2015-06-19,127.709999,127.820000,126.400002,126.599998,54181300,126.599998,AAPL,tech stocks
2015-06-22,127.489998,128.059998,127.080002,127.610001,33833500,127.610001,AAPL,tech stocks
2015-06-23,127.480003,127.610001,126.879997,127.029999,30137100,127.029999,AAPL,tech stocks
2015-06-24,127.209999,129.800003,127.120003,128.110001,54964900,128.110001,AAPL,tech stocks
2015-06-25,128.860001,129.199997,127.500000,127.500000,31816700,127.500000,AAPL,tech stocks
2015-06-26,127.669998,127.989998,126.510002,126.750000,42111000,126.750000,AAPL,tech stocks
2015-06-29,125.459999,126.470001,124.480003,124.529999,48911400,124.529999,AAPL,tech stocks
2015-06-30,125.570000,126.120003,124.860001,125.430000,43849800,125.430000,AAPL,tech stocks
2015-07-01,126.900002,126.940002,125.989998,126.599998,30128600,126.599998,AAPL,tech stocks

#Slicing and Dicing

Retrieve a portion of Data Frame
###Selection
DataFrame.iloc
Purely integer-location based indexing for selection by position.

In [323]:
AAPL.iloc[:10,1:5]

                 High        Low      Close     Volume
Date
2000-07-03  54.312441  52.124941  53.312559   17707200
2000-07-05  55.187441  50.750000  51.625000   66304000
2000-07-06  52.937500  49.624961  51.812461   77386400
2000-07-07  54.812520  52.124941  54.437461   65900800
2000-07-10  58.249938  53.750059  57.125039   99449000
2000-07-11  59.249961  55.437480  56.937438   89474000
2000-07-12  58.937477  56.375062  58.875039   56358400
2000-07-13  60.625039  54.749941  56.499938  111414800
2000-07-14  59.000062  56.875000  57.687562   47569200
2000-07-17  58.812461  57.125039  58.312523   65000600

In [308]:
df_master.index

DatetimeIndex(['2012-07-20', '2012-07-23', '2012-07-24', '2012-07-25',
               '2012-07-26', '2012-07-27', '2012-07-30', '2012-07-31',
               '2012-08-01', '2012-08-02',
               ...
               '2015-06-18', '2015-06-19', '2015-06-22', '2015-06-23',
               '2015-06-24', '2015-06-25', '2015-06-26', '2015-06-29',
               '2015-06-30', '2015-07-01'],
              dtype='datetime64[ns]', name=u'Date', length=58934, freq=None, tz=None)

In [325]:
df_master = df_master.reset_index()

# Pivot Tables!

###pivot_table

pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True)
Create a spreadsheet-style pivot table as a DataFrame. The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame

In [329]:
df_master.columns

Index([u'Date', u'Open', u'High', u'Low', u'Close', u'Volume', u'Adj Close',
       u'Stock', u'Group'],
      dtype='object')

In [330]:
table = pivot_table(df_master, values='Close', columns=['Stock'], aggfunc=np.average)

NameError: name 'pivot_table' is not defined

#Vector Math

###Top 10 Highest Close Values

In [338]:
df_master[df_master['Close'] > 100].sort('Close', ascending=[0]).iloc[:10,:]

,Date,Open,High,Low,Close,Volume,Adj Close,Stock,Group
52099,2012-09-19,700.259979,703.989998,699.569977,702.100021,81718700,94.619606,AAPL,tech stocks
52098,2012-09-18,699.879997,702.330040,696.419998,701.910004,93375800,94.593998,AAPL,tech stocks
52101,2012-09-21,702.410042,705.070023,699.359985,700.090042,142897300,94.348728,AAPL,tech stocks
52097,2012-09-17,699.349998,699.799995,694.610023,699.779968,99507800,94.306940,AAPL,tech stocks
52100,2012-09-20,699.159981,700.059975,693.619987,698.700050,84142100,94.161403,AAPL,tech stocks
52096,2012-09-14,689.959984,696.980011,687.889977,691.280014,150118500,93.161431,AAPL,tech stocks
52102,2012-09-24,686.860046,695.119995,682.999985,690.790016,159941600,93.095395,AAPL,tech stocks
52095,2012-09-13,677.370003,685.500015,674.769997,682.980011,149590000,92.042868,AAPL,tech stocks
52105,2012-09-27,664.289970,682.170006,660.349960,681.320000,148522500,91.819154,AAPL,tech stocks
52091,2012-09-07,678.050018,682.479973,675.769966,680.439980,82416600,91.700556,AAPL,tech stocks

#Applying a Function to Data Frame

#Using functions on data (with lambda)

In [310]:
AAPL_sum_stat.apply(lambda y: y.max() - y.min())

Open         3.759010e+03
High         3.758810e+03
Low          3.759280e+03
Close        3.758880e+03
Volume       1.855406e+09
Adj Close    3.771120e+03
dtype: float64

#Plot Results

In [311]:
AAPL.plot(); MSFT.plot()

In [312]:
ts=AAPL.iloc[:,1:2]

In [313]:
ts

                  High
Date
2000-07-03   54.312441
2000-07-05   55.187441
2000-07-06   52.937500
2000-07-07   54.812520
2000-07-10   58.249938
2000-07-11   59.249961
2000-07-12   58.937477
2000-07-13   60.625039
2000-07-14   59.000062
2000-07-17   58.812461
2000-07-18   58.875039
2000-07-19   56.812562
2000-07-20   57.062461
2000-07-21   55.624941
2000-07-24   52.875059
2000-07-25   50.624980
2000-07-26   51.249941
2000-07-27   53.249980
2000-07-28   52.500000
2000-07-31   51.625000
2000-08-01   51.156141
2000-08-02   49.937441
2000-08-03   48.062559
2000-08-04   51.249941
2000-08-07   49.062441
2000-08-08   47.999980
2000-08-09   48.437480
2000-08-10   48.437480
2000-08-11   47.999980
2000-08-14   47.687500
...                ...
2015-05-20  130.979996
2015-05-21  131.630005
2015-05-22  132.970001
2015-05-26  132.910004
2015-05-27  132.259995
2015-05-28  131.949997
2015-05-29  131.449997
2015-06-01  131.389999
2015-06-02  130.660004
2015-06-03  130.940002
2015-06-04  130.580002
2015-06-05  129.690002
2015-06-08  129.210007
2015-06-09  128.080002
2015-06-10  129.339996
2015-06-11  130.179993
2015-06-12  128.330002
2015-06-15  127.239998
2015-06-16  127.849998
2015-06-17  127.879997
2015-06-18  128.309998
2015-06-19  127.820000
2015-06-22  128.059998
2015-06-23  127.610001
2015-06-24  129.800003
2015-06-25  129.199997
2015-06-26  127.989998
2015-06-29  126.470001
2015-06-30  126.120003
2015-07-01  126.940002

[3772 rows x 1 columns]

In [314]:
ts.plot()

In [315]:
plt.show()